<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>오이 마켓</title>
</th:block>

<th:block layout:fragment="content">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>게시판 목록</title>
    <style>
        table {
            width: 100%;
            border: 1px solid #444444;
            border-collapse: collapse;
        }
        table th {
            border: 1px solid #444444;
            text-align: center;
            height: 40px;
            background-color: dodgerblue;
            color: cornsilk;
        }
        table td {
            border: 1px solid #444444;
            text-align: center;
        }
        li{
            list-style:none;
        }
        .atag {
    text-align: right;
    }
    </style>
</head>
<body>
<div style="text-align: center;">
    <h1>게시판 목록</h1>
    <table style="width: 700px; margin: auto">
        <tr>
            <th style="width: 10%">번호</th>
            <th style="width: 45%">제목</th>
            <th style="width: 15%">작성자</th>
            <th style="width: 20%">등록일</th>
            <th style="width: 10%">조회수</th>
        </tr>
        <tr th:each="boardLists : ${boardAll}">
                <td th:text="${boardLists.id}">id></td>
                <td>
                    <a th:text="${boardLists.title}" th:href="@{/board/detail/{boardId}(boardId=${boardLists.id})}"></a>
                </td>
                <td th:text="${boardLists.writer}" >writer</td>
            <td th:text="${#temporals.format(boardLists.createDate, 'yyyy-dd-MM HH:mm')}"></td>
            <td th:text="${boardLists.count}">count></td>
            </tr>
        </forEach>
    </table>
    <div class="atag"> <a href="/board/insert">새글 등록</a> </div>
    <div class="center text-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination justifiy-content-center" th:if="${totalPage != 0}">
                <li class="page-item"><a class="page-link" th:href="@{/board/test(page=${boardAll.pageable.pageNumber - 1}, searchText=${param.searchText})}">Previous</a></li>
                <li class="" th:classappend="${page == boardAll.pageable.pageNumber + 1} ? 'disabled'" th:each="page : ${#numbers.sequence(startPage, endPage)}">
                    <a th:href="@{/board/test(page=${page - 1}, searchText=${param.searchText})}" th:text="${page}"></a>
                </li>
                <li class="page-item"><a class="page-link" th:href="@{/board/test(page=${boardAll.pageable.pageNumber + 1}, searchText=${param.searchText})}">Next</a></li>
            </ul>
        </nav>

    </div>
</div>

<!--<form class="form-inline d-flex justify-content-end", th:action="@{/board/test}" th:value="${param.searchIndex}">-->
<!--    <div class="form-group mx-sm-3 mb-2 pull-right">-->
<!--        <label for="searchText" class="sr-only">검색</label>-->
<!--        <input type="text" class="form-control" id="searchText" name="searchText">-->
<!--        <button type="submit" class="btn btn-primary mb-2">검색 </button>-->
<!--    </div>-->
<!--</form>-->

<script src="static/js/bootstrap.bundle.min.js"></script>
</body>
</th:block>
</html>